# Global
node_modules
.env
.DS_Store

# React Frontend
/client/build
/client/node_modules

# Backend
/server/node_modules
/server/build

# IDEs
.vscode
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Certificates or Secrets
*.pem
